.about-bg{
    background: url('../images/jesusrafaell.png');
    height: 100%;
    background-position: center top;
    background-size:cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    text-align:center;
}

@media screen and (min-width: 901px){
  .info{
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 15rem;
    padding-top: 10em;
    height: 10em;
    width: 40vw;
    transition: all .5s;
    transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1.8);
    position: absolute;
    margin: auto;
    top: 30%;
    right: 0;
    left: 0;
  }

  .infoname {
    font-family: "Gravity-Light";
    font-size: 3rem;
    letter-spacing: 3px;
    color: black;
    text-align: center;
    padding-bottom: 1rem;
  }

  .info h2:hover{ 
    text-shadow: 20px 20px 20px #37474F;
  }

  .info:hover{
    box-shadow: none;
    background: rgba(255, 255, 255, 0);
  }

  .descrip p{
    text-align: center;
    font-family: karla, serif;
    font-weight: 300;
    margin-top: 3rem;
    position: relative;
    color: black;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-size: 25px;
  }

  .hiddeninfo{
    box-shadow: none;
    background: rgba(255, 255, 255, 0);
    height: 15em;
  }

  .hiddeninfo h2{
    text-shadow: 20px 20px 20px #37474F;
  }
}

@media screen and (max-width: 900px){

  .about-bg{
    background: url('../images/jesusrafaell.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;   
    height: 100%;
  }

  .info{
    text-align: center;
    padding-top: 5rem;
    height: 40%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .infoname{
    color: white;
    font-family: "Gravity-Regular";
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .descrip p {
    color: white;
  }

}
