.aboutPage{
  background: white;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  user-select: none;
}

#arrow{
  position: absolute;
  display: inline-blick;
  text-align: center;
  left: 50%;
  top: 90%;
}

.arrowName{
  position: absolute;
	width: 20px;
	height: 20px;
  font-family: "Gravity-Regular";
  color: white;
  margin: 0;
  left: -2%;
  padding: 0;
	margin: -20px;
}

.box span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}




@media screen and (min-width: 901px){
  .info{
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: all .5s;
    margin: auto;
    top: 0;
  }

  .descrip {
    position: absolute;
    width: 40%;
    top: 20%;
    left: 20%;
  }

  .descrip p {
    font-family: "Gravity-Bold";
    font-weight: 200;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 190%;
    text-align: left;
  }

  #sub1 {
    font-size: 180%; 
    margin-top: 10%;
  }

  #sub2 {
    color: #3056F2;
    font-size: 120%;
  } 

  #line1 {
    padding-bottom: 1vh;
  }

  .me-photo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 19%;
    height: 70%;
    width: 50%;
    left: 50%;
    right: 0;
    text-align: center;
    max-height: 900px;
  }

  .me-photo img{
    height: 100%;
    opacity: 0.95;
  }
  .backPhoto {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 60%;
    background: #3056F2;
  }
}

@media screen and (max-width: 900px){
  .aboutPage{
    background: #000;
    align-items: center; 
    justify-content: center;
    flex-direction: column;   
    background: -webkit-linear-gradient(top, #8D8D8D 46.1%, #3056F2 30%);
  }

  .me-photo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    text-align: center;
  }

  .me-photo img{
    height: 100%;
    overflow-x: hidden;
  }

  .info{
    top: 20%;
    position: absolute;
    height: 70%;
    width: 100%;
  }

  .descrip{
    text-align: left;
    left: 10%;
    position: absolute;
    top: 35%;
    position: absolute;
    width: 80%;
  }

  .descrip p {
    font-family: "Gravity-Bold";
    font-size: 7vw;
    color: white;
  }

  #sub1, #sub3{
    display: none;
  }

  #sub2{
    color: red;
  }

  .backPhoto {
    display: none;
  }

}

