.aboutPage{
  background: white;
  background-position: center top;
  background-size:cover;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

@media screen and (min-width: 901px){
  .info{
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: all .5s;
    margin: auto;
    top: 0;
    perspective: 700px;
  }

  .info h2:hover{ 
    text-shadow: 20px 20px 20px #37474F;
  }

  .info:hover{
    box-shadow: none;
    background: rgba(255, 255, 255, 0);
  }
  .descrip {
    position: absolute;
    width: 50%;
    top: 22%;
    left: 5%;
  }

  .descrip p{
    font-family: "Gravity-Regular";
    text-align: center;
    font-weight: 200;
    color: black;
    font-size: 3vw;
    text-align: center;
  }

  .me-photo {
    z-index: -1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    height: 70%;
    width: 50%;
    left: 50%;
    right: 0;
    text-align: center;
  }

  .me-photo img{
    height: 100%;
    opacity: 0.95;
  }
  .backPhoto {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, white 46%, #3056F2 30%);
  }
}

@media screen and (max-width: 900px){
  .aboutPage{
    background: #000;
    align-items: center; 
    justify-content: center;
    flex-direction: column;   
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(top, #8C8C8C 46%, #3056F2 30%);
  }

  .me-photo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    text-align: center;
  }

  .me-photo img{
    height: 100%;
    opacity: 0.95;
  }

  .info{
    top: 20%;
    position: absolute;
    text-align: center;
    height: 70%;
    width: 100%;
  }

  .descrip{
    position: absolute;
    top: 40%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .descrip p {
    font-family: "Gravity-Regular";
    font-size: 5vw;
    color: white;
  }

  .backPhoto {
    display: none;
  }

}
