.indexPage{
  width: 100%;
  height: 100vh;
  background: url(../images/indexbg.jpg);
  background-position: center top;
  background-size:cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;   
  text-align:center;
}


/*Titile*/
  .titlemain {
    transition: all 0.7s linear 0.2s;
    text-align: center;
    padding-top: 35vh;
    width: 100%;
    height: 40%;
    font-size: 9rem;
    color: white ;
    opacity: 0.8
  }

  .disabletitle{
    opacity: 0;
    transform: translateY(-500px);
  }

@media screen and (max-width: 900px){
  .titlemain{
      font-size: 5rem;
    }
}
