.indexPage{
  width: 100vw;
  height: 100vh;
  background: #000;
  position: relative;
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
  perspective: 700px;
  z-index: 1;
}

.containerIndex {
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;left: 0;right: 0;bottom: 0;
  margin: auto;
  transition: 0.3s;
}

.containerIndex .card {
  position: absolute;
  height: 100%;
  width: 100%;
}

.containerIndex .card .card-bg {
  height: inherit;
  width: inherit;
  transform: translate3d(0, 0, -800px);
  background: url(../images/space.jpg) no-repeat center top;
  background-size: 100%;
  position: absolute;
  top: 0;right: 0; bottom: 0; left: 0;
  border-radius: 5em;
}

.containerIndex .card .card-bg img{
  width: 60%;
}

.containerIndex .containerTitle{
  justify-content: center;
  align-items: center;
  position: absolute;
  margin:auto;
  right: 0; bottom: 0; left: 0;
  left: 20%;
  top: 40%;
  padding:20px;
  color: #fff;
  z-index: 3;
  color: rgb(255, 255, 255);
  transform: translate3d(0%, 0%, 70px);
}

.containerTitle .titlemain1,.containerTitle .titlemain2 {
  font-size: 4vw;
  font-family: "Gravity-Bold";
  position: absolute;
  width: inherit;
}

.containerTitle .titlemain1{
  transform: translate(-5%, 0%);
}

.containerTitle .titlemain2 {
  transform: translate(-10%, 80%);
}

.containerTitle .titlemain1 span,
.containerTitle .titlemain2 span{
  float: left;
}

@media screen and (max-width:900px) {
  .containerTitle .titlemain1,.containerTitle .titlemain2 {
  }
}
