.testPage{
  width: 100%;
  height: 100vh;
  background: gray;
  background-position: center top;
  background-size:cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;   
  text-align:center;
}


.containerTest{
  position: relative;
  width: 90%;
  height: 60%;
  top: 20vh;
  left: 5vw;
  background: white;
}

.containerTest svg{
  height: 500px;
}
