@font-face {
    font-family: "Gravity-Bold";
    src: url('../../fonts/Gravity-Bold.otf');
}
@font-face {
    font-family: "Gravity-Regular";
    src: url('../../fonts/Gravity-Regular.otf');
}
@font-face {
    font-family: "Gravity-Light";
    src: url('../../fonts/Gravity-Light.otf');
}
@font-face {
    font-family: "Gravity-Book";
    src: url('../../fonts/Gravity-Book.otf');
}

*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: "Gravity-Regular";
}

body{
    margin: 0;
    overflow-x: hidden;
}

html{
    height: 100%;
    margin: 0;
}

h1, h2{
    letter-spacing: 2px;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 0;
    font-family: "Gravity-Light";
}

h3, h4 {
    font-family: "Source Sans Pro" ,sans-serif;
}

footer{
    width: 100%;
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    height: 40vh;
}

.sociallinks {
    padding: 1.2rem;
    background: #383838;
    border-radius: 1.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.fa svg{
    margin: 1rem;
    padding: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 2rem;
    padding: 2px;
    transition: 0.4s ease-in;
    fill: #000;
    background: #fff;
}

.fa svg:hover{
    transform: scale(1.7);
    transition: 0.4s linear;
    fill: #fff;
}

.ig svg:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.gt svg:hover{
    background: #000;
}

.li svg:hover{
    background: #0e76a8;
}

.ml svg:hover{
    background: linear-gradient(90deg, rgba(66,133,244,1) 15%, rgba(234,67,53,1) 30%, rgba(234,67,53,1) 50%, rgba(251,188,5,1) 70%, rgba(52,168,83,1) 85%);
}

.fb svg:hover{
    background: rgb(58, 89, 152);
}

@media screen and (max-width: 800px){
    .fa svg{
        width: 30px;
        height: 30px;
        margin-left: 2em;
        transform: scale(1.7);
        transition: 0.4s linear;
        fill: #fff;
    }
    .ig svg{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }

    .gt svg{
        background: #000;
    }

    .li svg{
        background: #0e76a8;
    }

    .ml svg{
        background: linear-gradient(90deg, rgba(66,133,244,1) 15%, rgba(234,67,53,1) 30%, rgba(234,67,53,1) 50%, rgba(251,188,5,1) 70%, rgba(52,168,83,1) 85%);
    }
    .fb svg{
        background: rgb(58, 89, 152);
    }

}
