.skillsPage{ background: white; background-position: center top; background-size:cover;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  user-select: none;
  /*
	 background: #3056F2;
	 * */
  background: #0C0C0C;

  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;

}

.titleSkills{
	padding-top: 6em;
	margin-bottom: 2%;
}

.titleSkills h2{
	font-size: 4vh;
	font-family: "Gravity-Bold";
	text-align: center;
}

/*

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-col {
	display: flex;
	flex-direction: column;
}

.item{
	border-radius: 0.25rem;
	text-decoration: none;
	font-weight: 400;	
	transition: .15s ease;
	display: inline-block;
	overflow: hidden;
	margin: 2vh;
}


.item-image{
	border-radius: 0.25rem 0.25rem 0 0;
	overflow: hidden;
	transition: 0.5s ease-in;
}

.item:hover > .item-image{
	transition: 0.5s ease-in-out;
}

.item:hover > .item-content{
	transform: translate(5%, -200%);
	transition: 0.5s ease-in-out;
}

.item-content {
	transition: 0.5s ease-in-out;
	transition: 0.5s ease-in;
}

.item-image img {
	width: 13vh;
	display: block;
}

.gridTop{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.sub-item{
	display: flex;
	padding: 3%;
}

.gridTop .item{
	font-weight: 400;	
}

.gridTop .item-image img{
	width: 30vh;
	display: block;
}

*/

@media all and (max-width: 600px) {
	.skillsPage{
		height: auto;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
	}

	.grid-col {
		& > * + * {
			margin-top: 1.5rem;
		}
	}
}


.cards {
	display: grid;
	gird-templae-columns: 1fr 1fr;
	grid-template-arrows: repeat(auto, 350px);
}

.item {
	position: relative;
	border-radius: 10px;
	margin: 1% 2%;
}

.item-image {
	width: 15%;
	max-width: 150px;
}

.item-image img{
	width: 100%;
}

.item-content {
	left: 0;
}

.item-text{
	position: absolute;
	left: 0;
}

.item-text h2{
	font-size: clamp(1em, 3vw, 1.3em);
}

.item-content {
	position: absolute;
	height: 100%;
	top: 0;
	left: 20%;
	width: 50%;
}

.item-text p{
	font-size: clamp(0.4em, 3vw, 1.3em);
}

.skill {
	position: absolute;
	margin: 1em 0;
	width: 50%; 
}

.skill-outer-bar, .skill-inner-bar {
	height: .75em;
}

.skill-outer-bar {
	margin-top: 1em;
	background: #202020;
}

.skill-inner-bar {
  animation: fillBar 5s forwards;
  transform: scaleX(0);
  transform-origin: 0 0;
	max-width: 100%;
	width: 0;
}

.skill-inner-bar-Html, .skill-inner-bar-JavaScript{
  background: #F8A518;
}
.skill-inner-bar-React {
  background: #18A6F8;
}
.skill-inner-bar-Gsap {
  background: #F8DD18;
}
.skill-inner-bar-Css3{
  background: #F818B5;
}
.skill-inner-bar-Node{
  background: #8718F8;
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}


@media screen and (max-width:900px) {
	.skill{
		top: 10%;
	}
}

.logo-React {
	width: 20%;
	margin-left: -4vw;
	max-width: 300px;
}
